@use "../abstracts/variables" as v;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: v.$text-color;
  background: v.$background-color;
  line-height: 1.6;
}

h1,
h2,
p {
  margin-top: 0;
}
