@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.button {
  @include button-style($primary-color);

  &:hover {
    background: $primary-hover;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}
