@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.card {
  @include box-style;

  &__title {
    margin-top: 0;
    color: $text-color;
  }

  &__text {
    margin-bottom: 0;
    line-height: 1.6;
  }
}
